.header {
    height: 50vh;
    background: linear-gradient(black, black, rgb(0, 123, 255));
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.logo_name {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-transform: capitalize;
}
.logo_txt {
    padding-top: 50px;
    font-size: 20px;
    letter-spacing: 0.5rem;
    padding-left: 10px;
}
.logo_txt1 {
    font-size: 50px;
    letter-spacing: 1rem;
}
.search {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: white;
    color: black;
    font-size: 15px; 
    max-width: 200px;
    width: 100%;
    height: auto;
}
.search_div {
    background-color: white;
    padding: 5px;
    max-width: 800px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.button_search {
    cursor: pointer;
    outline: none;
    border: none;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-left: 300px;
}
.search__img {
    color: black;
    width: 100%;
    max-width: 45px;
    height: 45px;
}
.search_div__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}